{% extends 'layouts/home.html'%} {% block content %}

<body>
  <a href="{% url 'logoutUser' idUser=datosUsuario.id %}"
    ><button>logout</button></a
  >

  <div class="card-form">
    <h1>Bienvenid@ {{datosUsuario.nombre}} :D</h1>
    <br />

    <h2>Tus funcionalidades son:</h2>

    <div class="container-form functions">
      {% for interfaz in interfaces %} {% if interfaz == 'subir tarea' %}
      <a href="{% url 'subirTarea' idUser=datosUsuario.id %}"
        ><button>subir tarea</button></a
      >
      {% endif %} {% if interfaz == 'dar tarea' %}
      <a href="{% url 'darTarea' idUser=datosUsuario.id %}"
        ><button>dar tarea</button></a
      >
      <a
        href="{% url 'chatear' idUser=datosUsuario.id idDocente=datosUsuario.id %}"
        ><button>Mensajear</button></a
      >
      {% endif %} {% if interfaz == 'ver entregas' %}
      <button>ver entregas</button>
      {% endif %} {% if interfaz == 'ver planillas' %}
      <button>ver planillas</button>
      {% endif %} {% if interfaz == 'ver notas' %}
      <button>ver notas</button>
      {% endif %} {% if interfaz == 'ver materias inscritas' %}
      <button>ver materias inscritas</button>
      {% endif %} {% endfor %}
    </div>
  </div>

  <!-- <script>
    localStorage.setItem('jwt_token', '{{ datosUsuario.token }}');
</script> -->
</body>

{% endblock %}
