{% load static %}

<body onload=iniciarSesion()>
  <h1>Bienvenid@ {{datosUsuario.nombre}} :D</h1>

  <a href="/logout"><button>logout</button></a>

  <br />

  <h3>Tus funcionalidades son:</h3>

  {% for interfaz in interfaces %} {% if interfaz == 'subir tarea' %}
  <button>subir tarea</button>
  {% endif %} {% if interfaz == 'dar tarea' %}
  <button>dar tarea</button>
  {% endif %} {% if interfaz == 'ver entregas' %}
  <button>ver entregas</button>
  {% endif %} {% if interfaz == 'ver planillas' %}
  <button>ver planillas</button>
  {% endif %} {% if interfaz == 'ver notas' %}
  <button>ver notas</button>
  {% endif %} {% if interfaz == 'ver materias inscritas' %}
  <button>ver materias inscritas</button>
  {% endif %} {% endfor %}

  <script src="{% static 'js/app.js' %}"></script>
</body>
